body {
    background-color: rgb(242, 224, 255);
}

#tablero {
    display: flex;
    flex-wrap: wrap;

    width: 7.9rem;
    height: 7.9rem;

    margin: auto;
    padding: 1%;

    border-radius: 10px;
    background-color: white;
}

.celda {
    box-sizing: border-box;

    width: 62.5px;
    height: 62.5px;

    border: 1px solid black;
}

.celdaNegra {
    background-color: rgb(119, 115, 122);
}

.celdaBlanca {
    background-color: rgb(252, 248, 255);
}